@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


body {
    font-family: 'crimson text', serif;
    line-height: 1.2;
    color: #0013bc;
    background: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-start;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    flex: 1 1 100%;
    margin-bottom: 2rem;
     color: #0013bc;
   
}

.manifesto {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: smallcaps;
    flex: 1 1 100%;
    margin: 4rem 0 2rem 0;
    color: #0013bc;
}

p {
    flex: 1 1 calc(50% - 0.75rem);
    min-width: 300px;
    max-width: 1200px;
}

ul {
    flex: 1 1 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

ul li {
    list-style-type: none;
    padding-left: 20px;
}

figcaption {
    font-size: 0.9rem;
    color: #666;
    font-style: italic;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}

.image-block {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}